In [1]:
import numpy as np
import pandas as pd
pokemon = pd.read_csv("pokemon_alopez247.csv")

In [2]:
pokemon.head(10)

,Number,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,...,Color,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,Green,True,0.875,Monster,Grass,False,0.71,6.9,45,quadruped
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,Green,True,0.875,Monster,Grass,False,0.99,13.0,45,quadruped
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,Green,True,0.875,Monster,Grass,True,2.01,100.0,45,quadruped
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,Red,True,0.875,Monster,Dragon,False,0.61,8.5,45,bipedal_tailed
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,Red,True,0.875,Monster,Dragon,False,1.09,19.0,45,bipedal_tailed
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,...,Red,True,0.875,Monster,Dragon,True,1.70,90.5,45,bipedal_tailed
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,...,Blue,True,0.875,Monster,Water_1,False,0.51,9.0,45,bipedal_tailed
7,8,Wartortle,Water,NaN,405,59,63,80,65,80,...,Blue,True,0.875,Monster,Water_1,False,0.99,22.5,45,bipedal_tailed
8,9,Blastoise,Water,NaN,530,79,83,100,85,105,...,Blue,True,0.875,Monster,Water_1,True,1.60,85.5,45,bipedal_tailed
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,...,Green,True,0.500,Bug,NaN,False,0.30,2.9,255,insectoid

In [3]:
print("Number of Observation(Rows)",pokemon.shape[0])
print("Number of Features(Column)",pokemon.shape[1])

Number of Observation(Rows) 721
Number of Features(Column) 23

In [4]:
print("Number Names of all features(Column)",pokemon.columns)

Number Names of all features(Column) Index(['Number', 'Name', 'Type_1', 'Type_2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp_Atk', 'Sp_Def', 'Speed', 'Generation', 'isLegendary',
       'Color', 'hasGender', 'Pr_Male', 'Egg_Group_1', 'Egg_Group_2',
       'hasMegaEvolution', 'Height_m', 'Weight_kg', 'Catch_Rate',
       'Body_Style'],
      dtype='object')

In [5]:
import numpy as np
import pandas as pd
pokemon = pd.read_csv("pokemon_alopez247.csv")

In [6]:
pokemon

,Number,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,...,Color,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,Green,True,0.875,Monster,Grass,False,0.71,6.9,45,quadruped
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,Green,True,0.875,Monster,Grass,False,0.99,13.0,45,quadruped
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,Green,True,0.875,Monster,Grass,True,2.01,100.0,45,quadruped
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,Red,True,0.875,Monster,Dragon,False,0.61,8.5,45,bipedal_tailed
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,Red,True,0.875,Monster,Dragon,False,1.09,19.0,45,bipedal_tailed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,717,Yveltal,Dark,Flying,680,126,131,95,131,98,...,Red,False,NaN,Undiscovered,NaN,False,5.79,203.0,45,two_wings
717,718,Zygarde,Dragon,Ground,600,108,100,121,81,95,...,Green,False,NaN,Undiscovered,NaN,False,5.00,305.0,3,serpentine_body
718,719,Diancie,Rock,Fairy,600,50,100,150,100,150,...,Pink,False,NaN,Undiscovered,NaN,True,0.71,8.8,3,head_arms
719,720,Hoopa,Psychic,Ghost,600,80,110,60,150,130,...,Purple,False,NaN,Undiscovered,NaN,False,0.51,9.0,3,head_only
720,721,Volcanion,Fire,Water,600,80,110,120,130,90,...,Brown,False,NaN,Undiscovered,NaN,False,1.70,195.0,3,quadruped

In [7]:
pokemon.Attack.sort_values(ascending=False)

408    165
288    160
485    160
643    150
382    150
      ...
128     10
212     10
241     10
112      5
439      5
Name: Attack, Length: 721, dtype: int64

In [8]:
pokemon.sort_values(['Attack'],ascending=True)

,Number,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,...,Color,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
439,440,Happiny,Normal,NaN,220,100,5,5,15,65,...,Pink,True,0.000,Undiscovered,NaN,False,0.61,24.4,130,bipedal_tailless
112,113,Chansey,Normal,NaN,450,250,5,5,35,105,...,Pink,True,0.000,Fairy,NaN,False,1.09,34.6,30,bipedal_tailed
128,129,Magikarp,Water,NaN,200,20,10,55,15,20,...,Red,True,0.500,Water_2,Dragon,False,0.89,10.0,255,with_fins
241,242,Blissey,Normal,NaN,540,255,10,10,75,135,...,Pink,True,0.000,Fairy,NaN,False,1.50,46.8,30,bipedal_tailless
212,213,Shuckle,Bug,Rock,505,20,10,230,10,230,...,Yellow,True,0.500,Bug,NaN,False,0.61,20.5,190,insectoid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,386,Deoxys,Psychic,NaN,600,50,150,50,150,50,...,Red,False,NaN,Undiscovered,NaN,False,1.70,60.8,3,bipedal_tailless
382,383,Groudon,Ground,NaN,670,100,150,140,100,90,...,Red,False,NaN,Undiscovered,NaN,False,3.51,950.0,3,bipedal_tailed
485,486,Regigigas,Normal,NaN,670,110,160,110,80,110,...,White,False,NaN,Undiscovered,NaN,False,3.71,420.0,3,bipedal_tailless
288,289,Slaking,Normal,NaN,670,150,160,100,95,65,...,Brown,True,0.500,Field,NaN,False,2.01,130.5,45,bipedal_tailless
408,409,Rampardos,Rock,NaN,495,97,165,60,65,50,...,Blue,True,0.875,Monster,NaN,False,1.60,102.5,45,bipedal_tailed

In [9]:
pokemon.describe()

,Number,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Pr_Male,Height_m,Weight_kg,Catch_Rate
count,721.00000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,644.000000,721.000000,721.000000,721.000000
mean,361.00000,417.945908,68.380028,75.013870,70.808599,68.737864,69.291262,65.714286,3.323162,0.553377,1.144979,56.773370,100.246879
std,208.27906,109.663671,25.848272,28.984475,29.296558,28.788005,27.015860,27.277920,1.669873,0.199969,1.044369,89.095667,76.573513
min,1.00000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000,0.000000,0.100000,0.100000,3.000000
25%,181.00000,320.000000,50.000000,53.000000,50.000000,45.000000,50.000000,45.000000,2.000000,0.500000,0.610000,9.400000,45.000000
50%,361.00000,424.000000,65.000000,74.000000,65.000000,65.000000,65.000000,65.000000,3.000000,0.500000,0.990000,28.000000,65.000000
75%,541.00000,499.000000,80.000000,95.000000,85.000000,90.000000,85.000000,85.000000,5.000000,0.500000,1.400000,61.000000,180.000000
max,721.00000,720.000000,255.000000,165.000000,230.000000,154.000000,230.000000,160.000000,6.000000,1.000000,14.500000,950.000000,255.000000

In [10]:
pokemon.groupby('Type_1').Defense.describe()

          count        mean        std   min    25%    50%     75%    max
Type_1
Bug        63.0   67.698413  32.223331  30.0  47.50   55.0   85.00  230.0
Dark       28.0   67.928571  23.796870  30.0  50.00   67.5   88.50  115.0
Dragon     24.0   79.125000  22.618408  35.0  63.75   85.0   91.25  121.0
Electric   36.0   59.083333  20.353132  15.0  40.00   58.5   70.00  115.0
Fairy      17.0   65.705882  18.979478  28.0  50.00   66.0   75.00   95.0
Fighting   25.0   64.280000  18.320116  30.0  53.00   62.0   78.00   95.0
Fire       47.0   64.893617  22.654526  37.0  46.50   60.0   72.00  140.0
Flying      3.0   61.666667  23.629078  35.0  52.50   70.0   75.00   80.0
Ghost      23.0   75.956522  33.910951  30.0  51.50   65.0   95.00  145.0
Grass      66.0   69.363636  23.955495  30.0  50.00   65.0   83.00  131.0
Ground     30.0   82.166667  31.893231  25.0  51.25   82.0  108.75  140.0
Ice        23.0   71.043478  35.110835  15.0  47.50   70.0   85.00  184.0
Normal     93.0   57.795699  22.349282   5.0  43.00   60.0   70.00  120.0
Poison     28.0   68.821429  21.066128  35.0  52.75   67.0   82.25  120.0
Psychic    47.0   65.042553  26.159176  15.0  46.50   60.0   75.50  130.0
Rock       41.0   99.756098  36.851581  40.0  70.00  100.0  119.00  200.0
Steel      22.0  119.409091  33.281854  70.0  96.25  115.5  140.00  200.0
Water     105.0   70.485714  25.579858  20.0  52.00   68.0   85.00  180.0

In [11]:
pokemon.groupby('Type_2').Defense.describe()

          count        mean        std   min     25%    50%     75%    max
Type_2
Bug         3.0   80.000000  26.457513  50.0   70.00   90.0   95.00  100.0
Dark       16.0   65.750000  27.857973  20.0   43.75   63.5   81.25  110.0
Dragon     14.0   82.571429  25.095860  35.0   71.75   85.0   98.75  120.0
Electric    6.0   68.333333  29.486720  38.0   52.00   59.0   78.00  120.0
Fairy      18.0   64.611111  38.280910  15.0   41.25   58.5   83.75  150.0
Fighting   19.0   77.947368  23.791861  40.0   65.00   71.0   90.00  129.0
Fire        9.0   67.222222  24.252720  30.0   55.00   60.0   90.00  100.0
Flying     87.0   65.413793  23.879324  30.0   47.50   62.0   80.00  140.0
Ghost      12.0   81.416667  35.464344  45.0   57.50   72.5   85.00  150.0
Grass      18.0   73.333333  21.898160  30.0   58.75   73.0   83.75  122.0
Ground     30.0   83.366667  35.571670  40.0   65.75   77.0   93.75  200.0
Ice        10.0   79.700000  37.768447  50.0   57.50   73.5   80.00  180.0
Normal      4.0   53.750000  16.173538  33.0   47.25   55.0   61.50   72.0
Poison     31.0   57.483871  17.912511  30.0   45.00   59.0   70.00   99.0
Psychic    27.0   78.962963  24.312835  15.0   65.00   80.0   89.00  130.0
Rock       14.0  126.857143  38.828731  85.0  100.75  122.5  132.25  230.0
Steel      19.0  104.157895  28.097574  60.0   89.50  100.0  116.50  168.0
Water      13.0   83.384615  29.153440  32.0   60.00   90.0  105.00  125.0

In [12]:
pokemon.groupby(['Type_1','Type_2']).Defense.describe()

                 count        mean        std   min    25%    50%     75%  \
Type_1 Type_2
Bug    Electric    2.0   55.000000   7.071068  50.0  52.50   55.0   57.50
       Fighting    1.0   75.000000        NaN  75.0  75.00   75.0   75.00
       Fire        2.0   60.000000   7.071068  55.0  57.50   60.0   62.50
       Flying     13.0   57.076923  20.221530  30.0  45.00   50.0   62.00
       Ghost       1.0   45.000000        NaN  45.0  45.00   45.0   45.00
...                ...         ...        ...   ...    ...    ...     ...
Water  Ice         3.0  113.333333  57.735027  80.0  80.00   80.0  130.00
       Poison      3.0   58.333333  20.816660  35.0  50.00   65.0   70.00
       Psychic     4.0   85.000000  18.708287  65.0  76.25   82.5   91.25
       Rock        4.0  112.750000  22.896506  85.0  98.50  116.5  130.75
       Steel       1.0   88.000000        NaN  88.0  88.00   88.0   88.00

                   max
Type_1 Type_2
Bug    Electric   60.0
       Fighting   75.0
       Fire       65.0
       Flying    102.0
       Ghost      45.0
...                ...
Water  Ice       180.0
       Poison     75.0
       Psychic   110.0
       Rock      133.0
       Steel      88.0

[125 rows x 8 columns]

In [13]:
pokemon.groupby('Type_1').Total.max()

Type_1
Bug         600
Dark        680
Dragon      680
Electric    580
Fairy       680
Fighting    525
Fire        680
Flying      580
Ghost       680
Grass       600
Ground      670
Ice         580
Normal      720
Poison      535
Psychic     680
Rock        600
Steel       680
Water       680
Name: Total, dtype: int64

In [14]:
pokemon.groupby('Type_1').Total.agg(["mean","min","max","median"])

                mean  min  max  median
Type_1
Bug       365.126984  194  600   390.0
Dark      434.750000  220  680   438.0
Dragon    501.958333  300  680   515.0
Electric  420.694444  205  580   429.5
Fairy     413.176471  218  680   405.0
Fighting  404.360000  210  525   455.0
Fire      443.021277  250  680   460.0
Flying    453.333333  245  580   535.0
Ghost     423.652174  275  680   455.0
Grass     409.560606  180  600   409.0
Ground    421.000000  265  670   427.5
Ice       427.086957  250  580   455.0
Normal    392.161290  190  720   411.0
Poison    399.142857  245  535   401.5
Psychic   442.489362  198  680   466.0
Rock      437.804878  280  600   440.0
Steel     464.909091  300  680   467.5
Water     417.200000  200  680   430.0

In [15]:
pokemon.groupby(['Type_1','Type_2']).Total.agg(['mean','min','max','median'])

                       mean  min  max  median
Type_1 Type_2
Bug    Electric  395.500000  319  472   395.5
       Fighting  500.000000  500  500   500.0
       Fire      455.000000  360  550   455.0
       Flying    405.615385  244  515   411.0
       Ghost     236.000000  236  236   236.0
...                     ...  ...  ...     ...
Water  Ice       511.666667  475  535   525.0
       Poison    426.666667  335  515   430.0
       Psychic   453.750000  315  520   490.0
       Rock      428.750000  355  495   432.5
       Steel     530.000000  530  530   530.0

[125 rows x 4 columns]

In [16]:
Type_1_count=pokemon["Type_1"].value_counts().sort_values()
Type_1_count.head(2)

Type_1
Flying     3
Fairy     17
Name: count, dtype: int64

In [17]:
p = pokemon.groupby("Type_1").size().reset_index(name='counts')
p = p.sort_values(['counts'],ascending=False)
p.head(5)

    Type_1  counts
17   Water     105
12  Normal      93
9    Grass      66
0      Bug      63
6     Fire      47

In [18]:
p=pokemon.groupby(["Type_1","Type_2"]).size().reset_index(name='counts')
p=p.sort_values(['counts'], ascending=False)
p.head(4)

    Type_1  Type_2  counts
73  Normal  Flying      23
56   Grass  Poison      14
3      Bug  Flying      13
7      Bug  Poison      11

In [19]:
pokemon.groupby(['Type_1','Type_2']).size()

Type_1  Type_2
Bug     Electric     2
        Fighting     1
        Fire         2
        Flying      13
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      4
        Rock         4
        Steel        1
Length: 125, dtype: int64

In [20]:
pokemon.loc[pokemon['Type_1']=='Normal'].groupby(['Type_1','Type_2']).size().reset_index(name='counts')

   Type_1   Type_2  counts
0  Normal    Fairy       4
1  Normal   Flying      23
2  Normal    Grass       2
3  Normal   Ground       1
4  Normal  Psychic       2
5  Normal    Water       1

In [21]:
import numpy as np
import pandas  as pd

In [22]:
pokemon = pd.read_csv("pokemon_alopez247.csv")

In [23]:
pokemon.isnull()

,Number,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,...,Color,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False
717,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False
718,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False
719,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False
720,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False

In [24]:
pokemon.isnull().any()

Number              False
Name                False
Type_1              False
Type_2               True
Total               False
HP                  False
Attack              False
Defense             False
Sp_Atk              False
Sp_Def              False
Speed               False
Generation          False
isLegendary         False
Color               False
hasGender           False
Pr_Male              True
Egg_Group_1         False
Egg_Group_2          True
hasMegaEvolution    False
Height_m            False
Weight_kg           False
Catch_Rate          False
Body_Style          False
dtype: bool

In [25]:
pokemon.isnull().any().any()

True

In [26]:
pokemon.isnull().sum()

Number                0
Name                  0
Type_1                0
Type_2              371
Total                 0
HP                    0
Attack                0
Defense               0
Sp_Atk                0
Sp_Def                0
Speed                 0
Generation            0
isLegendary           0
Color                 0
hasGender             0
Pr_Male              77
Egg_Group_1           0
Egg_Group_2         530
hasMegaEvolution      0
Height_m              0
Weight_kg             0
Catch_Rate            0
Body_Style            0
dtype: int64

In [27]:
pokemon = pokemon.dropna()
pokemon

,Number,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,...,Color,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,Green,True,0.875,Monster,Grass,False,0.71,6.9,45,quadruped
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,Green,True,0.875,Monster,Grass,False,0.99,13.0,45,quadruped
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,Green,True,0.875,Monster,Grass,True,2.01,100.0,45,quadruped
5,6,Charizard,Fire,Flying,534,78,84,78,109,85,...,Red,True,0.875,Monster,Dragon,True,1.70,90.5,45,bipedal_tailed
33,34,Nidoking,Poison,Ground,505,81,102,77,85,75,...,Purple,True,1.000,Monster,Field,False,1.40,62.0,45,bipedal_tailed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,696,Tyrunt,Rock,Dragon,362,58,89,77,45,45,...,Brown,True,0.875,Monster,Dragon,False,0.79,26.0,45,bipedal_tailed
696,697,Tyrantrum,Rock,Dragon,521,82,121,119,69,59,...,Red,True,0.875,Monster,Dragon,False,2.49,270.0,45,bipedal_tailed
701,702,Dedenne,Electric,Fairy,431,67,58,57,81,67,...,Yellow,True,0.500,Field,Fairy,False,0.20,2.2,180,bipedal_tailed
707,708,Phantump,Ghost,Grass,309,43,70,48,50,60,...,Brown,True,0.500,Grass,Amorphous,False,0.41,7.0,120,head_arms
708,709,Trevenant,Ghost,Grass,474,85,110,76,65,82,...,Brown,True,0.500,Grass,Amorphous,False,1.50,71.0,60,several_limbs